.happenings-main-page{
    padding: 5% 0 7%;
    background-color: #CEE5D0;
}

.happenings-page{
    margin: 0 5%;
}

.happenings-header{
    padding: 7% 5%;
    background-color: #F3F0D7;
    text-align: center;
    color: rgb(128, 103, 70);
    font-size: 30px;
}

.happenings-date{
    color: #E0C097;
    text-align: right;
    font-weight: bold;
}

.happenings-news-section{
    line-height: 30px;
    display: grid;
    row-gap: 15px;
    color: white;
    font-weight: 700;
    column-gap: 10px;
    grid-template-columns: repeat(3, 1fr)
}

.happenings-news1{
    padding: 20px;
    background-color: #E0C097;
    grid-column: 1 ;
    grid-row: 1 / 4;
}

.happenings-news2{
    padding: 20px;
    background-color: #E0C097;
    grid-column: 2;
    grid-row: 1 / 3;
}

.happenings-news3{
    padding: 20px;
    background-color: #E0C097;
    grid-column: 3;
    grid-row: 1 / 3;
}

.happenings-events{
    grid-column: 2 / 4;
    grid-row: 3 / 4;
    padding: 20px;
    color: rgb(87, 74, 57);
    background-color: #F3F0D7;
}